<%= content_for :head do %>
  <%= javascript_tag do -%>
      <%== "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <% end -%>
<% end %>

<div id='card_notice'></div>

<% if @cards.present? %>

  <h2>Use one of these cards on file?</h2>

  <% @cards.each do |card| %>
		<p class="field">    
			<span id="<%= dom_id(card) %>">
				<label>
					<%= radio_button_tag "existing_card", card.id %>
					<span><%= card %></span>
				</label>
			</span>
		</p>	
	<% end %>
	<p class="field" id="new_card_option">
    <label><%= radio_button_tag "existing_card", 'new' %> <%= t('other_card') %></label>
	</p>
	<script type="text/javascript">
		$(function () {
			$("#new_card_option ~ p.field").hide();
			$("input[name='existing_card']:radio").change(function() {
				if ($("input[name='existing_card']:checked").val() == 'new') {
					$("#new_card_option ~ p.field").show();
				}
				else {
					$("#new_card_option ~ p.field").hide();
				}
			});
		});
	</script>
<% end %>



