<%= content_for :head do %>
  <%= javascript_tag do -%>
    <%== "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <% end -%>
<% end %>

<div id='card_notice'></div>

<h3>Credit Cards on File</h3>

<div class="field">
  <table class="existing-credit-card-list">
    <thead>
      <tr>
        <th>Card Number(last four digits)</th>
        <th>Expiration Month</th>
        <th>Expiration Year</th>
        <th>Billing Address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if @cards.present? %>
        <% @cards.each do |card| %>
          <tr id="<%= dom_id(card)%>" class="<%= cycle('even', 'odd') %>">
            <td><%= card.last_digits %></td>
            <td><%= card.month %></td>
            <td><%= card.year %></td>
            <td><%= card.address.to_s rescue '' %></td>
            <td><%= link_to image_tag('admin/icons/delete.png')+' '+t(:delete), card, :method => :delete %></td>
          </tr>
        <% end %>
      <% else %>
        <tr id="no-credit-cards-row">
          <td colspan="5"><%= t(:no_credit_cards_on_file) %></td>
        </tr>
      <% end %>
    </tbody>
   </table>
	 <br/>
</div>

<div id="new_creditcard_link">
  <%= link_to t(:add_new_payment_profile), :controller => :creditcards, :action => :new %>
</div>
